<div class="main-container">
    <div class="sidebar">
        <ul class="sidebar-links">
          <li><a (click)="navegation('')"><mat-icon><span class="material-symbols-outlined">
              person
              </span></mat-icon>Minha conta</a></li>
          <li><a (click)="navegation('orders')"><mat-icon><span class="material-symbols-outlined">
              list_alt
              </span></mat-icon>Meus pedidos</a></li>
          <li><a (click)="navegation('update')"><mat-icon><span class="material-symbols-outlined">
              edit
              </span></mat-icon>Alterar informações</a></li>
          <li><a (click)="navegation('senha')"><mat-icon><span class="material-symbols-outlined">
              password
              </span></mat-icon>Alterar senha</a></li>
        </ul>
      </div>
  
  <div class="content-container">
    <h2>Alterar senha do Usuario</h2>
    <div class="form-container">
      <mat-card>
          <mat-card-content>
              <form [formGroup]="formGroup">
                  <mat-form-field appearance="fill" class="full-width-input">
                      <mat-label>Senha Antiga</mat-label>
                      <input matInput [type]="senhaAntiga ? 'text' : 'password'" formControlName="oldPassword" autocomplete="off" placeholder="Senha">
                        <button mat-icon-button matSuffix type="button" (click)="toggleSenhaVisivel3()">
                            <mat-icon>{{ senhaAntiga ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                      <mat-error *ngIf="formGroup.get('oldPassword')?.errors && 
                                      formGroup.get('oldPassword')?.touched">
                          @if (formGroup.get('oldPassword')?.errors?.['required']) {
                              <span>A senha antiga deve ser informada.</span>
                          } 
                          @if (formGroup.get('oldPassword')?.hasError('apiError')) {
                              <span>{{ formGroup.get('oldPassword')?.getError('apiError') }}</span>
                          }
                      </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="full-width-input">
                      <mat-label>Nova Senha</mat-label>
                      <input matInput [type]="senhaVisivel ? 'text' : 'password'" formControlName="password" autocomplete="off" placeholder="Senha">
                        <button mat-icon-button matSuffix type="button" (click)="toggleSenhaVisivel()">
                            <mat-icon>{{ senhaVisivel ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                      <mat-error *ngIf="formGroup.get('newPassword')?.errors && 
                                      formGroup.get('newPassword')?.touched">
                          @if (formGroup.get('newPassword')?.errors?.['required']) {
                              <span>A nova senha deve ser informada.</span>
                          } 
                          @if (formGroup.get('newPassword')?.errors?.['minlength']) {
                              <span>A nova senha deve possuir ao menos 3 caracteres.</span>
                          }
                          @if (formGroup.get('newPassword')?.hasError('apiError')) {
                              <span>{{ formGroup.get('newPassword')?.getError('apiError') }}</span>
                          }
                      </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Confirmar Senha</mat-label>
                    <input matInput [type]="confirmPassword ? 'text' : 'password'" formControlName="confirmPassword" autocomplete="off" placeholder="Confirmar Senha">
                    <button mat-icon-button matSuffix type="button" (click)="toggleSenhaVisivel2()">
                        <mat-icon>{{ confirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="formGroup.get('confirmPassword')?.errors && 
                                    formGroup.get('confirmPassword')?.touched">
                        {{getErrorMessage('confirmPassword', formGroup.get('confirmPassword')?.errors)}}

                        @if (formGroup.get('confirmPassword')?.hasError('apiError')) {
                            <span>{{ formGroup.get('confirmPassword')?.getError('apiError') }}</span>
                        }
                        @if (formGroup.get('confirmPassword')?.errors?.['required']) {
                            <span>A confirmação de senha deve ser informada.</span>
                        } 
                    </mat-error>
                </mat-form-field>
              </form>
          </mat-card-content>
          <mat-card-actions>
              <button mat-raised-button 
                      color="primary" 
                      (click)="salvar()">
                      <!-- [disabled]="formGroup.invalid">  -->
                  Salvar 
              </button>
          </mat-card-actions>
      </mat-card>
  </div>
  </div>
</div>