<!-- order-history.component.html -->
<div class="main-container">
  <div class="sidebar">
    <ul class="sidebar-links">
      <li><a (click)="navegation('')"><mat-icon><span class="material-symbols-outlined">
          person
          </span></mat-icon>Minha conta</a></li>
      <li><a (click)="navegation('orders')"><mat-icon><span class="material-symbols-outlined">
          list_alt
          </span></mat-icon>Meus pedidos</a></li>
      <li><a (click)="navegation('update')"><mat-icon><span class="material-symbols-outlined">
          edit
          </span></mat-icon>Alterar informações</a></li>
      <li><a (click)="navegation('senha')"><mat-icon><span class="material-symbols-outlined">
          password
          </span></mat-icon>Alterar senha</a></li>
    </ul>
  </div>
    
    <div class="content-container">
      <h2>Histórico de Compras</h2>
      <div class="orders-wrapper">
        <div *ngFor="let order of orders" class="order-container">
          <div class="order-header">
            <h3>Pedido #{{order.id}}</h3>
            <button (click)="viewOrderDetails(order.id)" class="read-more-button">Ler mais</button>
          </div>
          <p>Data: {{order.dataHora | date:'short'}}</p>
          <p>Total: {{order.totalOrder | currency:'BRL'}}</p>
        </div>
      </div>
    </div>
</div>
  